* {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.h-container {
    display: flex;
    justify-content: center;

}

.timer-label {
    margin-right: 10px;
}

#sequence1-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#sequence1-content h1 {
    text-align: center;
}
#sequence1-content p {
    text-align: center;
    color: yellow;
}

.btn {
    outline: none;
    border: none;
    padding: 10px 15px;
    background: purple;
    font-size: 1.5vh;
    border-radius: 10px;
    margin: 2vh 40% 2vh 40%;
    opacity: 80%;
    display: flex;
    justify-content: center;
}

.btn:hover{
    opacity: 100%;
}
#sequence2-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: yellow;
}

input {
    outline: none;
    border: none;
    margin: 2vh 40% 2vh 40%;
    font-size: 2.2rem;
    border: 2px solid gray;
    border-radius: 12px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}